#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  aspect-ratio: 16 / 9; /* stays proportional on all screens */
  background-color: #e5e5e1;
  /* background-color: yellow; */
}
#details .typing {
  font-size: clamp(1rem, 10vw, 4rem);
  justify-self: center;
  display: block;
  letter-spacing: 50px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000; /*this gives the cursor effect*/
  width: 0;
  margin-top: 0;
}
#details .typing.animate {
  animation:
    typing 2s steps(15) forwards,
    blink 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 31ch;
    /* justify-self: center; */
  }
}
@keyframes blink {
  50% {
    border-color: black;
  }
}

#details .title h3 {
  color: black;
}
.accomodation {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
.accomodation h1 {
  font-family: "Alex Brush", cursive;
  font-size: clamp(1rem, 10vw, 5rem);
  font-weight: 100;
  letter-spacing: 10px;
}
.accomodation .hotel-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}
.hotel-name-wrapper {
  display: flex;
  align-items: center;
}
.hotel-name {
  color: rgb(131, 122, 122);
  transform: rotate(-90deg);
  transform-origin: center center; /* helps positioning */
  font-family: "Alex Brush", cursive;
  font-size: clamp(1rem, 7vw, 2rem);
  white-space: nowrap; /*makes it so it wont break to the next line for us for phone view purpose*/
  margin: 0;
}
.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 0;
  flex: 1;
}

.hotel-info h4 {
  font-size: clamp(1rem, 1vw, 5rem);
  font-weight: 100;
  margin: 0;
  text-align: left;
}
.hotel-info p {
  text-align: left;
  font-size: clamp(1rem, 1vw, 1rem);
}

.schedule-container {
  min-width: 400px;
  width: 60vw;
  background-color: rgb(179, 162, 162);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  background-image: url(../images/bg-schedule.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.schedule-content {
  width: 90%;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.schedule-info {
  width: 100%;
  aspect-ratio: 9/3;
  display: flex;
  justify-content: center;
}
.schedule-info > section {
  width: 25%;
  aspect-ratio: 4 / 3;
  margin: 1px;
}
.schedule-content h2 {
  font-family: "Alex Brush", cursive;
  font-size: clamp(1rem, 8vw, 5rem);
  font-weight: 100;
  letter-spacing: 10px;
}
.schedule-content h3 {
  font-size: clamp(1rem, 1vw, 5rem);
  font-weight: 100;
}
.schedule-content p {
  font-size: clamp(0.9rem, 1vw, 0.9rem);
}
