#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  aspect-ratio: 16 / 9; /* stays proportional on all screens */
  background-color: #e5e5e1;
  /* background-color: yellow; */
}
#details .typing {
  font-size: clamp(1rem, 10vw, 4rem);
  justify-self: center;
  display: block;
  letter-spacing: 50px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000; /*this gives the cursor effect*/
  width: 0;
  margin-top: 0;
}
#details .typing.animate {
  animation:
    typing 2s steps(15) forwards,
    blink 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 31ch;
    /* justify-self: center; */
  }
}
@keyframes blink {
  50% {
    border-color: black;
  }
}

#details .title h3 {
  color: black;
}
.accomodation {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
.accomodation h1 {
  font-family: "Alex Brush", cursive;
  font-size: clamp(1rem, 10vw, 5rem);
  font-weight: 100;
  letter-spacing: 10px;
}
.accomodation .hotel-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}
.hotel-name-wrapper {
  display: flex;
  align-items: center;
}
.hotel-name {
  color: rgb(131, 122, 122);
  transform: rotate(-90deg);
  transform-origin: center center; /* helps positioning */
  font-family: "Alex Brush", cursive;
  font-size: clamp(1rem, 7vw, 2rem);
  white-space: nowrap; /*makes it so it wont break to the next line for us for phone view purpose*/
  margin: 0;
}
.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 0;
  flex: 1;
}

.hotel-info h4 {
  font-size: clamp(1rem, 1vw, 5rem);
  font-weight: 100;
  margin: 0;
  text-align: left;
}
.hotel-info p {
  text-align: left;
  font-size: clamp(1rem, 1vw, 1rem);
}

.schedule-container {
  width: 40vw;
  aspect-ratio: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  background-image: url(../images/bg-schedule.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.schedule-content {
  width: 90%;
  aspect-ratio: 3/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.schedule-header {
  background-color: yellow;
}
.schedule-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.schedule-content h2 {
  color: #586057;
  font-family: "Alex Brush", cursive;
  font-size: clamp(0.5rem, 5vw, 5rem);
  font-weight: 100;
  letter-spacing: 10px;
}
.schedule-content h3 {
  font-size: clamp(0.8rem, 3vw, 2rem);
  font-weight: 100;
  font-family: "Alex Brush", cursive;
  color: #586057;
}
.schedule-content p {
  font-size: clamp(0.4rem, 3vw, 0.7rem);
  text-align: center;
}
