#details {
  height: 100vh;
  align-content: center;
  /* border-radius: 0% 20%; */
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* stays proportional on all screens */
  /* background-color: yellow; */
}
#details .title {
}
#details .typing {
  color: #31496a;
  font-size: clamp(1rem, 10vw, 4rem);
  justify-self: center;
  display: block;
  letter-spacing: 50px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000; /*this gives the cursor effect*/
  width: 0;
  margin-top: 0;
}
#details .typing.animate {
  animation:
    typing 2s steps(15) forwards,
    blink 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 31ch;
    /* justify-self: center; */
  }
}
@keyframes blink {
  50% {
    border-color: black;
  }
}

#details .title h3 {
  color: black;
}

.accomodation {
  position: relative;
  width: 50%;
  top: 0%;
  margin: 0 auto; /* center horizontally */
  justify-items: center;
}

.accomodation::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 450px;
  background-image: url(../images/border.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px 5px rgba(43, 44, 43, 0.8);
  z-index: -4; /* behind the content */
  border-radius: 10px; /* optional rounded corners */
}

.accomodation h5,
.accomodation p {
  width: 50%;
  font-size: clamp(0.5rem, 3vw, 1rem);
}
.accomodation p {
  background-color: whitesmoke;
  box-shadow: 0 0 20px 5px rgba(199, 201, 199, 0.8);
  border-radius: 10px;
}
.accomodation .bookOnline {
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(134, 124, 124);
}
.accomodation h5 span {
  color: red;
  font-size: 1.2rem;
}

.cards {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  justify-self: center;
}
.card1,
.card2 {
  position: absolute;
  width: 300px;
  height: 450px;
  border-radius: 10px; /* optional rounded corners */
  box-shadow: 10px 0 20px 5px rgba(43, 44, 43, 0.8);
}
.card1 {
  /* background-color: rgba(156, 175, 136, 1); */
  background-image: url(../images/invitation-front.png);
  background-position: center;
  background-size: cover;
  right: 52%;
  bottom: 0px;
  letter-spacing: 3px;
  z-index: -3;
}
.card2 {
  /* background-color: rgba(212, 218, 205, 1); */
  background-color: #f1f0eb;
  letter-spacing: 3px;
  left: 47%;
  bottom: -100px;
  box-shadow: 0 0 20px 5px rgba(43, 44, 43, 0.8);
  background-image: url(../images/card2.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.card2 h2 {
  color: black;
  font-weight: 100;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.card2 .address {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(26, 39, 44);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.flower {
  position: absolute;
  bottom: -50px;
  left: 40%;
  width: 200px;

  transform: scaleX(-1) rotate(30deg);
  z-index: -2;

  /* transform: scaleY(-1); */
}
.flower.animate {
  animation: enlarge 10s ease-in-out forwards;
}
.flower2 {
  position: absolute;
  left: 50%;
  z-index: -3;
  top: 50%;
  transform: translate(0, -70%);
}
.flower2.animate {
  animation: enlarge 10s ease-in-out forwards;
}

@keyframes dancing {
  from {
    transform: scaleX(0.5);
  }
  50% {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0.5);
  }
}
@keyframes enlarge {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
