#details {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  aspect-ratio: 16 / 9; /* stays proportional on all screens */
  /* background-color: yellow; */
}
#details .title {
}
#details .typing {
  font-size: clamp(1rem, 10vw, 4rem);
  justify-self: center;
  display: block;
  letter-spacing: 50px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000; /*this gives the cursor effect*/
  width: 0;
  margin-top: 0;
}
#details .typing.animate {
  animation:
    typing 2s steps(15) forwards,
    blink 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 31ch;
    /* justify-self: center; */
  }
}
@keyframes blink {
  50% {
    border-color: black;
  }
}

#details .title h3 {
  color: black;
}
.accomodation {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
.accomodation h1 {
  font-family: "Alex Brush", cursive;
  font-size: clamp(1rem, 10vw, 5rem);
  font-weight: 100;
  letter-spacing: 10px;
}
.accomodation .hotel-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}
.hotel-name-wrapper {
  display: flex;
  align-items: center;
}
.hotel-name {
  color: rgb(131, 122, 122);
  transform: rotate(-90deg);
  transform-origin: center center; /* helps positioning */
  font-family: "Alex Brush", cursive;
  font-size: clamp(1rem, 7vw, 2rem);
  white-space: nowrap; /*makes it so it wont break to the next line for us for phone view purpose*/
  margin: 0;
}
.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 0;
  flex: 1;
}

.hotel-info h4 {
  font-size: clamp(1rem, 1vw, 5rem);
  font-weight: 100;
  margin: 0;
  text-align: left;
}
.hotel-info p {
  text-align: left;
  font-size: clamp(1rem, 1vw, 1rem);
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.card1,
.card2 {
  position: relative; /* remove absolute positioning */
  width: 300px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 10px 0 20px 5px rgba(43, 44, 43, 0.8);
  background-position: center;
  background-size: cover;
}
.card1 {
  /* background-color: rgba(156, 175, 136, 1); */
  background-image: url(../images/invitation-front.png);
  background-position: center;
  background-size: cover;
  letter-spacing: 3px;
  z-index: -3;
}
.card2 {
  /* background-color: rgba(212, 218, 205, 1); */
  background-color: #f1f0eb;
  letter-spacing: 3px;
  background-image: url(../images/card2.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.card2 h2 {
  color: black;
  font-weight: 100;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.card2 .address {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(26, 39, 44);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

@keyframes dancing {
  from {
    transform: scaleX(0.5);
  }
  50% {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0.5);
  }
}
@keyframes enlarge {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
