/* MEDIA======================================================================================= */
@media (min-width: 1100px) {
  .accomodation {
    width: 30%;
  }
}
@media (max-width: 1600px) {
  #details {
    height: max-content !important;
  }
  #rsvpInfo p {
    width: 80% !important;
  }
  #btnRsvp {
    width: 150px !important;
    height: 150px !important ;
    font-size: 1rem !important;
  }
}
@media (max-width: 1100px) {
  #mainImage {
    width: 75% !important;
    background-image: url(../images/centerPic.jpg);
    background-size: 100% !important;
  }
}
@media (max-width: 1000px) {
  h1 .bride {
    top: 30%;
  }
  .landing-page-content h2 {
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }
  .landing-page-content h4 {
    left: 50%;
    width: 100%;
    transform: translate(-50%);
  }

  /* WELCOME PAGE */
  .welcome .content {
    width: 100%;
  }
  .welcome p {
    width: 95%;
    font-size: 1rem;
  }
  .swan,
  .swan2 {
    width: 35%;
    top: 60%;
  }
  /* ENVELOPE */
  .envelope {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
  }

  /* WEDDING DETAILS */
  #details .typing {
    color: #31496a;
    letter-spacing: 5px !important;
  }
  #details .typing.animate {
    animation: none !important; /* stop animation completely */
    width: auto !important; /* show full text */
    overflow: visible !important; /* no clipping */
    border-right: none !important; /* hide cursor */
  }

  /* DETAILS */

  .card1,
  .card2 {
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px 0 20px 5px rgba(43, 44, 43, 0.8);
  }
  #registry section {
    position: static !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    transform: translate(0%, 0%) !important;
    width: 85% !important;
  }
}
@media (max-width: 900px) {
  nav {
    display: flex;
    justify-content: space-between;
    /* background-color: #f6f3ea; */
    opacity: 0.9;
    background-color: rgb(60, 83, 88);
    position: relative !important;
  }
  ul {
    width: 25%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    align-items: center;
  }

  .logo {
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%) !important;
  }
  .links {
    cursor: none !important;
    visibility: hidden !important;
    display: none !important;
    opacity: 0 !important;
  }
}
/* =================================================================================== */
@media (max-width: 500px) {
  .landing-page {
    height: 70vh;
  }
}
@media (max-width: 750px) {
  .welcome h1 {
    letter-spacing: 20px;
  }
  #details .title {
    top: -80px !important;
  }
  .cards {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    height: auto !important;
  }
  .card1,
  .card2 {
    position: static !important;
    margin: 20px 0; /* spacing between cards */
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
  }

  .flower {
    bottom: 30% !important;
    left: 15% !important;
    width: 150px !important;
  }

  .flower2 {
    z-index: -4 !important;
  }

  #timer-section {
    width: 100% !important;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    margin-top: auto !important;
    justify-content: center !important;
    align-items: center !important;
  }
  #mainImage {
    width: 75% !important;
    background-image: url(../images/centerPic.jpg);
    background-size: 200% !important;
  }
  .countdown {
    width: 100% !important;
  }

  .timers {
    width: 100% !important;
  }

  .rsvp {
    background-image: url(../images/mapbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #rsvpInfo {
    width: 100% !important;
    height: 80vh !important;
    /* margin-top: -200px !important; */
  }
  #rsvpInfo h1 {
    letter-spacing: 2rem !important;
    transform: translateX(0.5rem) !important;
  }
  #rsvpInfo p {
    width: 80% !important;
  }

  #btnRsvp {
    width: 100px !important;
    height: 100px !important ;
    font-size: 1rem !important;
    bottom: -5% !important;
  }

  #registry {
    position: relative;
    height: 80vh;
    align-content: center;
    overflow: hidden;
  }
  .left-img {
    position: absolute;
    right: 0% !important;
    top: 500px !important;
    z-index: 1 !important;
    width: 85% !important;
  }
  .right-img1,
  .right-img2 {
    position: absolute;
    right: -20px;
    top: 0;
    width: 35%;
    z-index: 1;
  }
  .right-img2 {
    right: -100px;
    top: 25px;
    transform: rotate(-20deg);
  }
  .gift-img {
    position: absolute;
    left: 31%;
    top: 25%;
    transform: scaleY(-1) rotate(-135deg);
    opacity: 0.2;
  }
  #registry section {
    position: static !important;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    transform: translate(0%, 0%) !important;
    width: 85% !important;
  }
  #registry .content {
    width: 100% !important;
  }
  #registry button {
    width: 400px;
    height: 80px;
    background-image: url(../images/registry-btn.png);
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
  }
}
