#timer-section {
  height: 70vh;
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(../images/bg-rsvp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #586057;
}
#mainImage {
  width: 15%;
  background-image: url(../images/centerPic.jpg);
  background-size: 300%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  z-index: 1;
  opacity: 0.7;
  filter: grayscale(100%);
}
.countdown {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-size: clamp(1rem, 2vw, 1.5rem);
  letter-spacing: 1px;
  align-content: center;
  width: 50%;
  color: whitesmoke;
}

.timers {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}
.timer {
  width: auto;
}

.timer p {
  font-size: clamp(0.5rem, 2vw, 1rem);
}
.rsvp-bg {
  background-color: #586057;
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 2%;
}
.rsvp {
  --envelope-size-width: 500px;
  --envelope-size-height: 500px;
  --envelope-size-hyp: 707px;
  width: var(--envelope-size-width) + var(--envelope-size-width / 2);
  justify-self: center;
  align-content: flex-end;
  background-color: yellow;
  height: auto;
}
.envelope {
  position: relative;
}

.top-envelope {
  position: absolute;
  background-color: rgb(250, 243, 243);
  box-shadow: 10px 0 50px 20px rgba(43, 44, 43, 0.8);

  width: var(--envelope-size-width);
  height: var(--envelope-size-height);
  top: -50%;
  left: 50%;
  transform: translate(-50%) rotate(-45deg);
  z-index: 1;
}
.rsvp-info {
  background-color: tan;
  position: absolute;
  width: calc(var(--envelope-size-hyp) - 50px);
  height: calc(var(--envelope-size-height) * 0.9);
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  top: -200px;
}
.mid-container {
  display: flex;
  box-shadow: 10px 0 50px 20px rgba(43, 44, 43, 0.8);
}
.left-envelope,
.right-envelope {
  background-color: rgb(250, 243, 243);
  width: calc(var(--envelope-size-hyp) / 2);
  height: var(--envelope-size-height);
  clip-path: polygon(
    0 0,
    100% 50%,
    100% 100%,
    0% 100%
  ); /*this is to make the box have different length on one side*/
  z-index: 3;
}
.left-envelope {
  transform: scaleX(-1);
}
.bottom-envelope {
  position: absolute;
  background-color: rgb(194, 192, 192);
  width: var(--envelope-size-hyp);
  height: var(--envelope-size-height);
  clip-path: polygon(
    0% 100%,
    /* bottom-left */ 50% 55%,
    /* single mountain peak */ 100% 100% /* bottom-right */
  );
  z-index: 5;
}

/* .rsvp {
  background-image: url(../images/mapbg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rsvpInfo {
  height: 100vh;
  width: 70%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 20% 20%;
  opacity: 1;
}
#rsvpInfo h1 {
  font-size: clamp(1rem, 8vw, 5.5rem);
  letter-spacing: 6rem;
  text-align: center;
  transform: translateX(2.5rem);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
#rsvpInfo p {
  width: 40%;
  text-align: left;
  font-size: 1.2rem;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
#rsvpInfo p span {
  display: inline;
  font-weight: bolder;
}
#btnRsvp {
  background-color: #91a77f;
  border-radius: 50%;
  border: 6px solid #748169;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  width: 200px;
  height: 200px;
  font-size: 2rem;
  position: absolute;
  right: 0%;
  bottom: 0%;
} */
