#timer-section {
  height: 50vh;
  width: 50%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainImage {
  width: 30%;
  background-image: url(../images/centerPic.jpg);
  background-size: 300%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  z-index: 1;
  opacity: 0.7;
  filter: grayscale(100%);
}
.countdown {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #31496a;
  letter-spacing: 1px;
  align-content: center;
  width: 50%;
}

.timers {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}
.timer {
  width: auto;
}

.timer p {
  font-size: clamp(0.5rem, 2vw, 1rem);
}
.rsvp {
  background-image: url(../images/mapbg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rsvpInfo {
  height: 100vh;
  width: 70%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 20% 20%;
  opacity: 1;
}
#rsvpInfo h1 {
  color: #31496a;
  font-size: clamp(1rem, 8vw, 5.5rem);
  letter-spacing: 6rem;
  text-align: center;
  transform: translateX(2.5rem);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
#rsvpInfo p {
  width: 40%;
  text-align: left;
  font-size: 1.2rem;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
#rsvpInfo p span {
  display: inline;
  font-weight: bolder;
}
#btnRsvp {
  background-color: #91a77f;
  border-radius: 50%;
  border: 6px solid #748169;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  width: 200px;
  height: 200px;
  font-size: 2rem;
  position: absolute;
  right: 0%;
  bottom: 0%;
}
