#timer-section {
  height: 70vh;
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(../images/bg-rsvp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #586057;
}
#mainImage {
  width: 15%;
  background-image: url(../images/centerPic.jpg);
  background-size: 300%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  z-index: 1;
  opacity: 0.7;
  filter: grayscale(100%);
}
.countdown {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-size: clamp(1rem, 2vw, 1.5rem);
  letter-spacing: 1px;
  align-content: center;
  width: 50%;
  color: whitesmoke;
}

.timers {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}
.timer {
  width: auto;
}

.timer p {
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.rsvp {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #586057;
  align-content: center; /*vertical*/
  aspect-ratio: 16 / 9; /* stays proportional on all screens */
}
.envelope {
  position: absolute;
  --envelope-size-width: 500px;
  --envelope-size-height: 500px;
  --envelope-size-hyp: 707px;
  /* width: var(--envelope-size-width) + var(--envelope-size-width / 2); */
  width: var(--envelope-size-width);
  height: var(--envelope-size-height);
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.top-envelope {
  position: absolute;
  background-color: rgb(247, 245, 245);
  box-shadow: 10px 0 50px 20px rgba(43, 44, 43, 0.8);
  width: var(--envelope-size-width);
  height: var(--envelope-size-height);
  transform: rotate(-45deg);
  top: -50%;
  left: 0;
  z-index: 1;
}
.mid-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.left-envelope,
.right-envelope {
  background-color: rgb(247, 245, 245);
  box-shadow: 10px 0 50px 20px rgba(43, 44, 43, 0.8);
  width: calc(var(--envelope-size-hyp) / 2);
  height: var(--envelope-size-height);
  clip-path: polygon(
    0 0,
    100% 50%,
    100% 100%,
    0% 100%
  ); /*this is to make the box have different length on one side*/
}
.left-envelope {
  transform: scaleX(-1);
}
.bottom-envelope {
  position: absolute;
  background-color: rgb(248, 248, 245);

  width: var(--envelope-size-hyp);
  height: var(--envelope-size-height);
  clip-path: polygon(
    0% 100%,
    /* bottom-left */ 50% 55%,
    /* single mountain peak */ 100% 100% /* bottom-right */
  );
  z-index: 5;
}
.rsvp-info {
  background-color: tan;
  background-image: url(../images/bg-rsvp-info.png);
  background-position: center;
  position: absolute;
  width: calc(var(--envelope-size-hyp) - 50px);
  height: calc(var(--envelope-size-height) * 1.2);
  left: 50%;
  transform: translate(-50%);
  top: -50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 900px 200px rgba(44, 51, 44, 0.8);
}
.rsvp-content {
  width: 80%;
  position: absolute;
  top: 0;
}
.rsvp-content h1 {
  font-family: "Alex Brush", cursive;
  font-size: clamp(1rem, 8vw, 5rem);
  font-weight: 100;
  letter-spacing: 10px;
}
.rsvp-content p {
  font-size: clamp(0.9rem, 1vw, 0.9rem);
}
/* .rsvp {
  background-image: url(../images/mapbg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rsvpInfo {
  height: 100vh;
  width: 70%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 20% 20%;
  opacity: 1;
}
#rsvpInfo h1 {
  font-size: clamp(1rem, 8vw, 5.5rem);
  letter-spacing: 6rem;
  text-align: center;
  transform: translateX(2.5rem);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
#rsvpInfo p {
  width: 40%;
  text-align: left;
  font-size: 1.2rem;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
#rsvpInfo p span {
  display: inline;
  font-weight: bolder;
}
#btnRsvp {
  background-color: #91a77f;
  border-radius: 50%;
  border: 6px solid #748169;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  width: 200px;
  height: 200px;
  font-size: 2rem;
  position: absolute;
  right: 0%;
  bottom: 0%;
} */
