@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

* {
  text-align: center;
  font-family: "Playfair Display", serif;
  cursor: url(../images/dove.png), auto;
}
#root {
  /* background-color: white; */
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* hides any accidental horizontal overflow */
  width: 100%;
}
h1,
h4 {
  color: #586057;
}

.landing-page {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9; /* stays proportional on all screens */
}
#bgVideo {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -10;
  opacity: 0.8;
}

h1 .groom,
h1 .bride {
  position: absolute;
  top: 100px;
  font-size: clamp(2rem, 10vw, 10rem);
  letter-spacing: 0.4em;
  font-weight: 100;
  opacity: 1;
  color: rgb(252, 252, 252);
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.9);
}
h1 .groom {
  left: 0;
}
h1 .bride {
  top: 250px;
  right: 0;
}
.landing-page-content h4 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  font-size: clamp(10px, 5vw, 3rem);
  opacity: 1;
  letter-spacing: 20px;
  color: rgb(252, 252, 252);
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.9);
}
span {
  display: block;
}

/* ==================================WELCOME PAGE ====================================*/
.welcome {
  height: 100vh;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* stays proportional on all screens */
  /* background-color: #586057; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-image: url(../images/bg-welcome.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome h1 {
  font-size: clamp(1rem, 10vw, 10rem);
  font-weight: 100;
  letter-spacing: 50px;
  color: whitesmoke;
}

.welcome h3 {
  color: #2c2b2b;
  font-size: 2rem;
  letter-spacing: 20px;
  text-align: center;
}
.welcome p {
  width: 50%;
  justify-self: center;
  font-size: 1.5rem;
  color: whitesmoke;
}
.swan,
.swan2 {
  width: 25%;
  max-width: 25%;
  height: auto;
  top: 50%;
  position: absolute;
  opacity: 0.2;
}
.swan {
  left: 0;
}
.swan2 {
  right: 0;
  transform: scaleX(-1);
}
