@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

* {
  text-align: center;
  font-family: "Playfair Display", serif;
  cursor: url(../images/dove.png), auto;
}
#root {
  /* background-color: white; */
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* hides any accidental horizontal overflow */
  width: 100%;
}
h1 {
  color: #586057;
}
.landing-page {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9; /* stays proportional on all screens */
}
#bgVideo {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -10;
  opacity: 0.8;
}

h1 .groom,
h1 .bride {
  position: absolute;
  top: 100px;
  font-size: clamp(2rem, 12vw, 10rem);
  letter-spacing: 0.4em;
  font-weight: 100;
  opacity: 1;
  color: rgb(252, 252, 252);
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.9);
}
h1 .groom {
  left: 0;
}
h1 .bride {
  top: 250px;
  right: 0;
}
.landing-page-content h4 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  font-size: clamp(10px, 5vw, 3rem);
  opacity: 1;
  letter-spacing: 20px;
  color: rgb(252, 252, 252);
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.9);
}
span {
  display: block;
}

/* ==================================WELCOME PAGE ====================================*/
.welcome {
  height: 100vh;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* stays proportional on all screens */
  background-color: #586057;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.welcome h1 {
  font-size: clamp(1rem, 10vw, 10rem);
  font-weight: 100;
  letter-spacing: 50px;
  color: whitesmoke;
}

.welcome h3 {
  color: #000000;
  font-size: 2rem;
  letter-spacing: 20px;
  text-align: center;
}
.welcome p {
  width: 50%;
  justify-self: center;
  font-size: 1.5rem;
}
.swan,
.swan2 {
  width: 25%;
  max-width: 50%;
  height: fit-content;
  top: 50%;
  position: absolute;
  opacity: 0.2;
}
.swan {
  left: 0;
}
.swan2 {
  right: 0;
  transform: scaleX(-1);
}

/* =========================================Envelope================================= */
.envelope {
  position: absolute;
  display: flex;
  height: max-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  z-index: -4;
  opacity: 0.9;
}
/* Pseudo-element for the background only */
.envelope::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 40%;
  width: 70%;
  height: 70%;
  transform: rotate(45deg) translate(-50%);
  transform-origin: center;
  background-color: rgb(155, 136, 136);
  z-index: -5;
}
.left-envelope,
.right-envelope {
  background-image: url(../images/envelope.png);
  width: 100px;
  height: 200px;
  background-color: #dbcdc2;
  z-index: 5;
}
.left-envelope {
  clip-path: polygon(
    0 0,
    100% 50%,
    100% 100%,
    0% 100%
  ); /*this is to make the box have different length on one side*/
}

.right-envelope {
  transform: scaleX(-1);
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
}

.seal {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../images/seal.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image1,
.image2,
.image3 {
  width: 100px;
  height: 100px;
  background-color: black;
  /* box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.8); */
  box-shadow:
    0px 10px 0 11px #000000cc,
    0px 10px 0 11px #000000cc;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image1 {
  background-image: url(../images/image1.jpg);
  left: 20px;
  top: 100px;
  animation: expanding-image1 10s linear infinite;
  z-index: 3;
}

.image2 {
  background-image: url(../images/image2.jpg);
  top: 200px;
  left: 50px;
  z-index: 4;
  animation: expanding-image2 8s linear infinite;
}
.image3 {
  background-image: url(../images/image3.jpg);
  right: 20px;
  top: 100px;
  animation: expanding-image3 10s linear infinite;
  z-index: 3;
}

@keyframes expanding-image1 {
  0% {
    top: 0px;
    left: 20px;
    transform: rotate(0deg);
  }
  50% {
    top: -150px;
    left: 5px;
    transform: rotate(-15deg);
  }
  100% {
    top: 0px;
    left: 20px;
    transform: rotate(0deg);
  }
}
@keyframes expanding-image2 {
  0% {
    top: 10px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: 10px;
  }
}
@keyframes expanding-image3 {
  0% {
    top: 0px;
    right: 20px;
    transform: rotate(0deg);
  }
  50% {
    top: -150px;
    right: 5px;
    transform: rotate(15deg);
  }
  100% {
    top: 0px;
    right: 20px;
    transform: rotate(0deg);
  }
}
